<a href="https://colab.research.google.com/github/DLPY/Classification_Session_2/blob/main/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/DLPY/Classification_Session_2/main/banking.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32950 entries, 0 to 32949
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          32950 non-null  int64
 1   job          32950 non-null  object
 2   marital      32950 non-null  object
 3   education    32950 non-null  object
 4   default      32950 non-null  object
 5   housing      32950 non-null  object
 6   loan         32950 non-null  object
 7   contact      32950 non-null  object
 8   month        32950 non-null  object
 9   day_of_week  32950 non-null  object
 10  duration     32950 non-null  int64
 11  campaign     32950 non-null  int64
 12  pdays        32950 non-null  int64
 13  previous     32950 non-null  int64
 14  poutcome     32950 non-null  object
 15  y            32950 non-null  object
dtypes: int64(5), object(11)
memory usage: 4.0+ MB

In [3]:
df.describe()

                age      duration      campaign         pdays      previous
count  32950.000000  32950.000000  32950.000000  32950.000000  32950.000000
mean      40.014112    258.127466      2.560607    962.052413      0.174719
std       10.403636    258.975917      2.752326    187.951096      0.499025
min       17.000000      0.000000      1.000000      0.000000      0.000000
25%       32.000000    103.000000      1.000000    999.000000      0.000000
50%       38.000000    180.000000      2.000000    999.000000      0.000000
75%       47.000000    319.000000      3.000000    999.000000      0.000000
max       98.000000   4918.000000     56.000000    999.000000      7.000000

In [15]:

df1

       age  duration  campaign  ...  poutcome_success  y_no  y_yes
0       49       227         4  ...                 0     1      0
1       37       202         2  ...                 0     1      0
2       78      1148         1  ...                 0     0      1
3       36       120         2  ...                 0     1      0
4       59       368         2  ...                 0     1      0
...    ...       ...       ...  ...               ...   ...    ...
32945   28       192         1  ...                 0     1      0
32946   52        64         1  ...                 0     1      0
32947   54       131         4  ...                 0     1      0
32948   29       165         1  ...                 0     1      0
32949   35       544         3  ...                 0     1      0

[32950 rows x 60 columns]

In [17]:
X = df.drop(['y'], axis =1)
y = df['y']
X = pd.get_dummies(X)
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)
knn = neigh.fit(X, y)

In [18]:
knn.predict(X)

array(['no', 'no', 'yes', ..., 'no', 'no', 'no'], dtype=object)